.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    color: #333;
    min-height: calc(100vh - 156px)
}
.about_img {
    padding: 2rem;
    text-align: center;
}
.about_img img {
    max-width: 80%;
}
.about_desc-heading  {
    font-family: 'Pushster', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}
.about_desc-heading::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 4px;
    width: 80px;
    height: 8px;
    border-radius: 4px;
    transition: 0.1s;
    background: linear-gradient(to right, rgb(255, 147, 24), rgb(250, 102, 3));
}
.about_desc-heading:hover::after {
    width: 100%;
    left: 0;
}
.about_desc-text {
    margin-top: 2rem;
}
.about_desc-creator-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-left: 20px;
}
.about_desc-creator-container img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -1em;
    transition: 0.1s;
}
.about_desc-creator-container img:hover {
    width: 64px;
    height: 64px;
    top: 40px;
    z-index: 5;
}
@media screen and (max-width: 992px) {
    .about {
        grid-template-columns: 35% 65%;
        
    }
    .about_img {
        padding: 1em;
    }
}
@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
    }
}